* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header */
header {
    background: url(../img/crossline-dots.webp),linear-gradient(to bottom right, rgba(0, 0, 255, 0.9) 50%, red, rgba(0, 0, 255, 0.9) 60%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
    text-shadow: 1px 1px 1px red;
}
.header-gambar {
    height: 500px;
}
.header-gambar img {
    height: 100%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    filter: brightness(1.2);
}
.header-deskripsi h1 {
    text-decoration: red overline wavy;
}
.header-deskripsi p {
    color: #ccc;
    text-shadow: 0 0 1px red;
    font-size: 1.2rem;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
} 
.header-deskripsi button {
    background-color: #5000ca;
    padding: 3px 5px 5px;
    border-radius: 6px;
    border-top-right-radius: 100%;
    border: 2px solid yellow;
    margin-left: 50px;
    transition: 1s;
}
.header-deskripsi button:hover {
    transform: rotate(360deg);
}
.header-deskripsi a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    text-shadow: 0px 0px 2px white;
    -webkit-text-stroke: 1px yellow;
    padding-bottom: 3px;
}
.header-deskripsi a img {
    width: 23px;
    margin-right: 5px;
}

/* navbar */
nav {
    height: calc(100vh - 500px);
    width: 100%;
    background-color: red;
    background-image: url(../img/navbar-3.jpg);
    background-blend-mode: luminosity;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
nav ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: end;
    list-style: none;
}
nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 0, 0, 0.8);
    text-shadow: 1px 1px 1px balck;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 60% 8px 60% 8px;
    height: 70%;
    width: 80%;
}
nav ul li:hover {
    border: 3px solid #333;;
}
nav ul li:hover a {
    color: #333;
}
nav ul li:last-child:hover {
    border: 4px solid rgba(255, 0, 0, 0.8);
}
nav ul li:last-child {
    justify-self: center;
    font-size: 1rem;
    justify-content: left;
    align-items: start;
    color: white;
    padding: 10px 30px;
    flex-direction: column;
    background-color: #5000ca;
}
nav ul a {
    text-decoration: none;
    font-size: 2rem;
    color: rgba(255, 0, 0, 0.9);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

/* content */
/* main content */
.content {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background: url(../img/triangles_pattern.webp), linear-gradient(to bottom right, black 60%, white );
    background-blend-mode: multiply;
    background-size: 100px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.main-content .gelombang {
    transform: rotate(180deg);
    position: absolute;
    z-index: 1;
    width: 80%;
}
.main-content .bungkus {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-content .process {
    display: none;
}
.title {
    font-size: 2rem;
    width: 80%;
    text-shadow: 1px 1px 1px white;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 0px 10px 50px;
}
.gambar {
    height: 500px;
    width: 80%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    background-color: #5000ca;
    border-right: 10px double black;
    border-bottom: 10px double black;
    overflow-y: scroll;
    z-index: 2;
}
.gambar picture {
    position: relative;
    /* animation: gambarBerjalan 30s infinite alternate; */
    padding-bottom: 50px;
}
.gambar figcaption {
    position: absolute;
    top: 10px;
    left: -20px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 255, 0.2);
    padding: 0px 30px;
    border: 2px solid white;
    color: white;
    animation: labelKesamping .8s infinite alternate-reverse;
}
.gambar img {
    width: 85%;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
@keyframes gambarBerjalan {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-300%);
    }
}
@keyframes labelKesamping {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(40%);
    }
}
/* room plan */
.room {
    flex-direction: column;
    height: 100%;
}
.room h1 {
    color: white;
    font-size: 4rem;
    background: linear-gradient(to bottom, rgba(0, 100, 0, 0.6) 90%, white);
    width: 100%;
    padding-left: 30px;
}
.gallery {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(100, 0, 62, 0.877);
    grid-template-areas: 
        'none1 none1 none1 none1 five'
        'none2 none2 none2 four none0a'
        'none3 none3 three none none0b'
        'none0c two none4 none4 none4'
        'one none5 none5 none5 none5';
}
.gallery img {
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    box-shadow: 2px, 2px, 1px, orangered;
    border: 5px solid orangered;
    background-color: orangered;
}
.gallery img:hover {
    filter: brightness(2);
}
.gallery span:first-child {
    grid-area: one;
}
.gallery span:nth-child(2) {
    grid-area: two;
}
.gallery span:nth-child(3) {
    grid-area: three;
}
.gallery span:nth-child(4) {
    grid-area: four;
}
.gallery span:last-child {
    grid-area: five;
}

/* form */
.form form {
    display: grid;
    align-content: center;
    height:80%;
    background-color: white;
    padding: 50px 20px;
    border-bottom-left-radius: 30%;
    border: 10px dashed black;
    border-top: none;
    border-right: initial;
    position: absolute;
    z-index: 2;
    right: 0;
}
.form form div {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}
.form h2 {
    text-align: center;
    color: bisque;
    text-shadow: 0px 0px 1px red;
    font-size: 2rem;
}
.form label {
    font-size: 1.2rem;
    color: #333;
}
.form button {
    width: 40%;
    margin: 30px auto;
    font-weight: bold;
    background-color: #5000ca;
    color: white;
}
/* footer */
footer {
    padding: 10px 30px;
    height: 10vh;
    position: relative;
}
footer span {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.5) 20%, rgba(255, 255, 255, 0.5), rgba(0, 0, 255, 0.5) 40%);
    position: fixed;
    top: 0;
    right: 50px;
    padding-bottom: 10px;
    border-radius: 0 0 100% 100%;
    z-index: 4;
}
footer span a {
    color: white;
    text-decoration: white underline double;
    width: 50px;
    height: 50px;
    display: inline-block;
}
footer span img {
    width: 100%;
}